@import url(./themes.css);

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 30%;
    z-index: 1000;
}
.navbar .bg{
    height: 100%;
    overflow: hidden;
    border-bottom: var(--color_border) 2px solid;
}
.navbar .bg img{
    position: relative;
    transform: translateY(-40%);
}
.navbar .avatar{
    position: absolute;

    top: 0;
    left: 0;

    width: 10%;
    background-color: var(--bg_color_avatar);
    border: var(--color_border) 2px solid;
    border-radius: 100px;

    overflow: hidden;
    transform: translate(100%, 100%);
}
.navbar .avatar img{
    transform: translateY(5%);
}
.navbar .links{
    position: absolute;
    right: 1%;
    bottom: 5%;
    padding: 0.3%;
}
.navbar .links.bgcolor{
    background-color: var(--bg_navbar_links);
}
.navbar .links.inline .link{
    display: inline-block;
}




.content{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: red;
}
.content .section{
    position: relative;
    transform: translateY(-1.3%);

    width: 100%;
    background-color: red;
}






/* HOME */
.content .section.home{
    position: relative;

    background-color: green;
    height: 1080px;


    display: flex;
    justify-content: center;
    align-content: center;
}
.content .section.home .name{
    color: red;
}
.content .section.home .description{
    color: red;
    width: 45%;
}


/* CARROUSEL */
.content .section .carrousel{
    position: relative;
    width: 832px;
    height: 487px;
    overflow: hidden;
}
.content .section .carrousel.pos_right{
    right: 10%;
}
.content .section .carrousel img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: 0.5s;
}
.content .section .carrousel img.hide{
    transform: translate(100%);
}