body{
    --color_border: rgb(98, 179, 245);

    --color_txt: black;

    --bg_color_avatar: white;
    --bg_navbar_links: white;
}

img{
    width: 100%;
    height: auto;
}

.bold{
    font-weight: bold;
}