body{
    background-color: #262626;
    color: white;
}

body #__next{
    display: flex;
}

.d-hide{
    display: none;
}

body .content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
}

body .center{
    text-align: center;
}

::-webkit-scrollbar {
    /* Style de la barre de défilement */
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    /* Style du curseur */
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

h2{
    color: white;
    font-size: 3em;
    margin: 0;
    margin-top: 2%;
}

h1{
    color: rgba(255, 255, 255, 0.5);
}

a{
    color: orangered;
}

/* BUTTON MODE */
.gold {
    background: linear-gradient(to right, #ffc600, #ff9100)!important;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    transition: 0.5s ease-in-out;
}
  
.gold:hover {
    background: linear-gradient(to left, #ffc600, #ff9100)!important;
    cursor: pointer;
}
